@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@100&family=Ubuntu:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

nav{
    background-image: linear-gradient(#2c6e7c, #2c6e7c);
    width: 100%;
    height: 80px;
    position: fixed;
}

label.logo{
    color: white;
    font-size: 30px;
    padding: 0 100px;
    line-height: 80px;
    font-weight: bold;
    text-transform: uppercase;
}

label.logo:hover{
    color: #62b0a5;
}

nav ul{
    float: right;
    margin-right: 20px;
    
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 7px 13px;
    border-radius: 20px;
}

a:hover{
    background: #62b0a5;
    transition: .5s;
}

.checkbtn{
    color: white;
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

@media (max-width: 952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }

    nav ul li a{
        font-size: 16px;
    }


    .flex-card{
      flex-direction: column;
      align-items: center;
    }

    .card{
      flex-basis: 100%;
      width: 100%;
    }
   
}

@media(max-width: 858px){
    .checkbtn{
        display: block;
    }

    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-image: linear-gradient(#2c6e7c, #2c6e7c);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li{
        display: block;
        line-height: 30px;
        margin: 50px 0;
    }

    nav ul li a{
        font-size: 20px;
    }

    a:hover{
        background: none;
        color: #62b0a5;
    }

    #check:checked ~ ul{
        left: 0;
    }
}

span{
    color: #62b0a5;
}


/*Section1 */


.section1 {
  background-image: linear-gradient(#2c6e7c, #2c6e7c);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 80px 100px;
  gap: 30px;
}

.grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: auto;
}

.grid h1 {
  letter-spacing: 4px;
  font-size: 60px;
  font-weight: 900;
  margin-bottom: 10px;
}

.grid h3 {
  letter-spacing: 2px;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 20px;
}

.grid h6 {
  font-size: 20px;
  font-weight: 200;
  margin-bottom: 40px;
}

.animate__animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animate__fadeInLeft {
  animation-name: fadeInLeft;
}

.animate__fadeInRight {
  animation-name: fadeInRight;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.grid i {
  padding: 10px;
}

.grid img {
  margin-left: 100px;
}

.button {
  color: black;
  padding: 10px 40px;
  border: 1px solid black;
  background-color: #2c6e7c;
  font-size: 20px;
}

.button:hover{
  background-color: #62b0a5;
  transition: .5s ease-out; 
}



@media (max-width: 768px) {
  .section1 {
    padding: 80px 50px;
  }
  
  .grid {
    margin: 0;
  }
  
  .grid h1 {
    font-size: 40px;
    margin-bottom: 5px;
  }
  
  .grid h3 {
    font-size: 30px;
    margin-bottom: 10px;
  }
  
  .grid h6 {
    font-size: 16px;
    margin-bottom: 30px;
  }
  
  .grid img {
    width: 100%;
    height: 120%;
    margin-left: 0;
  }
  
  .button {
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 14px;
  }
}

/*Projects section*/

.projects {
  text-align: center;
  padding: 50px 100px;
}

.projects h1 {
  font-size: 60px;
  font-weight: 900;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #aaaaaa;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 40px;
  gap: 20px;
}

.card {
  width: 45%;
  height: 350px;
  background-color: #b1d0ca;
  border-radius: 10px;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.card:hover {
  box-shadow: 0px 5px 15px #2c6e7c;
}

.card img {
  padding: 10px;
  height: 100px;
  width: 100px;
}

.card h3 {
  padding: 10px;
  font-size: 20px;
}

.card p {
  padding: 10px;
  font-size: 16px;
}

@media only screen and (max-width: 768px) {
  .projects {
    padding: 50px 20px;
  }

  .cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
  }

  .card {
    width: 80%;
    height: auto;
    margin-bottom: 20px;
  }

  .card img {
    height: 50px;
    width: 50px;
  }

  .card h3 {
    font-size: 16px;
  }

  .card p {
    font-size: 14px;
  }
}


  /*Skills Section*/

  .section3 h1{
    text-align: center;
    padding: 50px 100px;
    font-size: 60px;
    font-weight: 900;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #aaaaaa;
  }
  
  .skills p{
     font-size: 20px;
     padding: 20px 90px;
  }
  
  .skill-card{
    background-color: #f1f1f1;
    border-radius: 50px;
    font-size: 12px;
    width: 90%;
    margin: auto;
  }
  
  .html{
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
    background-image: linear-gradient(to right, #2c6e7c, #2c6e7c, #62b0a5, #62b0a5);
    width: 90%;
    font-size: 10px;
    animation: skill-animation 3s ease-in-out;
  }

  
  .css{
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
    background-image: linear-gradient(to right, #2c6e7c, #2c6e7c, #62b0a5, #62b0a5);
    width: 90%;
    font-size: 10px;
    animation: skill-animation 3s ease-in-out;
  }
  
  .js{
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
    background-image: linear-gradient(to right, #2c6e7c, #2c6e7c, #62b0a5, #62b0a5);
    width: 70%;
    font-size: 10px;
    animation: skill-animation 3s ease-in-out;
  }
  
  .BS{
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
    background-image: linear-gradient(to right, #2c6e7c, #2c6e7c, #62b0a5, #62b0a5);
    width: 90%;
    font-size: 10px;
    animation: skill-animation 3s ease-in-out;
  }
  
  .sql{
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
    background-image: linear-gradient(to right, #2c6e7c, #2c6e7c, #62b0a5, #62b0a5);
    width: 80%;
    font-size: 10px;
    animation: skill-animation 3s ease-in-out;
  }

  
  @keyframes skill-animation {
    0% {
      width: 0%;
    }
  }

  /*Certification Section*/

  .section4 {
    margin-top: 5%;
  }
  
  .section4 h1{
    text-align: center;
    padding: 50px 100px;
    font-size: 60px;
    font-weight: 900;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #aaaaaa;
  }
  
  .certifications {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 5%;
  }
  
  .certification-card {
    width: 600px;
    height: 400px;
    background-color: #f9f9f9;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
  }
  
  .certification-card:hover {
    transform: translateY(-10px);
  }
  
  .certification-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .certification-details {
    padding: 20px;
  }
  
  .certification-details h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .certification-details p {
    font-size: 18px;
    line-height: 1.5;
  }

  @media screen and (max-width: 600px) {
    .section4 {
      margin-top: 10%;
    }
  
    .section4 h1{
      padding: 30px;
      font-size: 40px;
    }
  
    .certifications {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 10px;
      margin-top: 5%;
    }
  
    .certification-card {
      width: 100%;
      height: 250px;
      margin-bottom: 20px;
    }
  
    .certification-card img {
      height: 100%;
    }
  
    .certification-details {
      padding: 10px;
    }
  
    .certification-details h3 {
      font-size: 20px;
    }
  
    .certification-details p {
      font-size: 16px;
    }
  }
  

  /*Contact Info Section*/

  .section5 h1{
    text-align: center;
    padding: 50px 100px;
    font-size: 60px;
    font-weight: 900;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #aaaaaa;
    margin-top: 5%;
  }

  .contact-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 2c0px;
    gap: 20px;
  }

  .contact {
    width: 300px;
    height: 200px;
    background-color: #b1d0ca;
    border-radius: 20px;
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
  }

  .contact:hover {
    box-shadow: 0px 5px 15px #385b63;
  }

  .contact img{
    padding: 10px;
    margin : auto;
    align-items: center;
    height: 80px;
    width: 80px;
  }

  .contact p{
    text-align: center;
    font-size: 16px;
    padding: 5px;
  }

  .contact h4{
    text-align: center;
    font-size: 20px;
  }

  /*Footer Section*/

  .footer{
    min-height: 100px;
    background-image: linear-gradient(#2c6e7c, #2c6e7c);
  }

  .social-icon{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer p{
    text-align: center;
    padding: 5px;
    color: white;
    font-size: 16px;
  }

  .footer h1{
    font-size: 30px;
    text-align: center;
    padding: 10px;
    color: white;
    margin-top: 10%;
  }

  .social-item{
    padding: 20px;
  }